@page
@model WesternInn_Jason_James_Tin.Pages.Statistics.StatisticsModel
@{
    ViewData["Title"] = "Statistics";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Guest distribution with respect to postcodes</h2>
<br />

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.PostcodeStats[0].PostCode)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.PostcodeStats[0].GuestCount)
            </th>
        </tr>

        @foreach (var item in Model.PostcodeStats)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PostCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestCount)
                </td>
            </tr>
        }
    </table>
</div>

<h2>Booking distribution with respect to rooms</h2>
<br />

<div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(m => m.RoomStats[0].RoomID)
            </th>
            <th>
                @Html.DisplayNameFor(m => m.RoomStats[0].BookingCount)
            </th>
        </tr>

        @foreach (var item in Model.RoomStats)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookingCount)
                </td>
            </tr>
        }
    </table>
</div>

